/* App.css */
:root {
  --primary-color: #0235e9;
  --text-color: #ffffff;
  --background-color: #1c1c1c;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.home-section, .about-section, .projects-section, .contact-section {
  min-height: 100vh; /* Full viewport height */
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* You can add more custom styles and classes */
@media screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }

  /* Adding custom padding to the Home section for mobile devices */
  .home-section {
    padding-bottom: 500px; /* Adjust based on your design needs */
  }
}
