/* App.css */
:root {
  --primary-color: #0235e9;
  --text-color: #ffffff;
  --background-color: #1c1c1c;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.home-section, .about-section, .projects-section, .contact-section {
  min-height: 100vh; /* Full viewport height */
  padding: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* You can add more custom styles and classes */
@media screen and (max-width: 600px) {
  .home-container {
    padding-bottom: 100px; /* Adds padding at the bottom of the home section on mobile */
  }

  .projects-container {
    padding-top: 150px; /* Adds padding at the top of the projects section on mobile */
  }

  .about-container, .projects-links-container {
    width: 100%; /* Ensure full width */
    /* Add any additional styling specific to mobile view here */
  }

}

